---
layout: default
title: @英子9034
---

<section class="post">
<h2>Articles</h2>
<hr>
<ol class="listing">
{% for post in site.posts %} {% capture y %}{{post.date | date:"%Y"}}{% endcapture %} {% if year != y %} {% assign year = y %}
<li class="listing-seperator">{{ y }}</li>
{% endif %}
 <li class="listing-item">
      <time datetime="{{ post.date | xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <p><a href="{{ post.url }}">{{ post.title }}</a></p>
 </li>
{% endfor %}
</ol>
</section>
{% include footer.html %}
